In [ ]:
import pandas as pd

## Noise Complaints

Data collected from https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9/data#Filter with the following filter conditions:

* **Complaint type** contains "Noise"
* **Created date** is between Jan 1, 2019 and Jan 1, 2020
* **Borough** is Manhattan

In [1]:
df = pd.read_csv('raw csvs/noise_complaints_raw.csv')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,41312454,01/01/2019 12:00:29 AM,01/01/2019 02:22:46 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11231.0,135 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.677201,-74.010351,"(40.677200581770165, -74.01035058400049)"
1,41310350,01/01/2019 12:00:43 AM,01/01/2019 02:21:44 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11365.0,192-20C 67 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.738062,-73.781277,"(40.738061586139345, -73.78127702459108)"
2,41307350,01/01/2019 12:02:13 AM,01/02/2019 02:07:11 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10003.0,106 3 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.732710,-73.987617,"(40.73271049805848, -73.9876165807211)"
3,41313215,01/01/2019 12:03:08 AM,01/01/2019 07:01:51 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11417.0,103-21 106 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.684311,-73.835678,"(40.68431070731603, -73.83567813039491)"
4,41312661,01/01/2019 12:04:26 AM,07/29/2019 12:17:22 PM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,NaN,95 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
cleaned_df = df.loc[:,["Descriptor", "Latitude", "Longitude"]].dropna()
cleaned_df.head()

         Descriptor   Latitude  Longitude
0  Loud Music/Party  40.677201 -74.010351
1  Loud Music/Party  40.738062 -73.781277
2  Loud Music/Party  40.732710 -73.987617
3  Loud Music/Party  40.684311 -73.835678
5  Loud Music/Party  40.644585 -74.003679

In [16]:
#cleaned_df.to_csv('exported csvs/noise_complaints_clean.csv')

## Restaurants

Data collected from https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j/data with the following filter conditions:

* **Boro** is Manhattan

In [23]:
df_restos = pd.read_csv('raw csvs/restaurants_raw.csv')

In [24]:
df_restos.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,50018350,SONS OF THUNDER,Manhattan,204,EAST 38 STREET,10016.0,6468633312,American,12/18/2019,Violations were cited in the following area(s).,...,04/26/2020,Cycle Inspection / Initial Inspection,40.748122,-73.976029,106.0,4.0,7800.0,1020344.0,1.009180e+09,MN20
1,41648023,TRAVEL TRADERS (MELITA PASTRIES),Manhattan,1535,BROADWAY,10036.0,2125891351,American,04/25/2017,Violations were cited in the following area(s).,...,04/26/2020,Cycle Inspection / Initial Inspection,40.758260,-73.985468,105.0,3.0,11900.0,1024727.0,1.010170e+09,MN17
2,41398154,DONA BELLA PIZZA,Manhattan,154,CHURCH STREET,10007.0,2123741130,Pizza,05/25/2018,Violations were cited in the following area(s).,...,04/26/2020,Cycle Inspection / Initial Inspection,40.714838,-74.008015,101.0,1.0,2100.0,1001591.0,1.001458e+09,MN24
3,40402172,LOMBARDI'S,Manhattan,32,SPRING STREET,10012.0,2129417994,Pizza/Italian,05/22/2017,Violations were cited in the following area(s).,...,04/26/2020,Cycle Inspection / Re-inspection,40.721684,-73.995660,102.0,1.0,4100.0,1007181.0,1.004800e+09,MN24
4,41245735,WICHCRAFT,Manhattan,11,EAST 20 STREET,10003.0,2127800577,Sandwiches,03/26/2019,Violations were cited in the following area(s).,...,04/26/2020,Cycle Inspection / Re-inspection,40.739311,-73.990076,105.0,2.0,5200.0,1016200.0,1.008490e+09,MN13

In [29]:
cleaned_df_restos = df_restos.loc[:,["DBA", "CUISINE DESCRIPTION", "Latitude", "Longitude"]].dropna()
cleaned_df_restos.head()

                                DBA CUISINE DESCRIPTION   Latitude  Longitude
0                   SONS OF THUNDER            American  40.748122 -73.976029
1  TRAVEL TRADERS (MELITA PASTRIES)            American  40.758260 -73.985468
2                 DONA BELLA  PIZZA               Pizza  40.714838 -74.008015
3                        LOMBARDI'S       Pizza/Italian  40.721684 -73.995660
4                         WICHCRAFT          Sandwiches  40.739311 -73.990076

In [30]:
cleaned_df_restos.to_csv('exported csvs/restaurants_clean.csv')

## Grocery Stores

Data collected from https://data.ny.gov/Economic-Development/Retail-Food-Stores/9a8c-vfzj/data with the following filter conditions:

* **County** is New York

In [32]:
df_food = pd.read_csv('raw csvs/Retail_Food_Stores.csv')

In [33]:
df_food.head()

,County,License Number,Operation Type,Establishment Type,Entity Name,DBA Name,Street Number,Street Name,Address Line 2,Address Line 3,City,State,Zip Code,Square Footage,Location
0,New York,719758,Store,JAC,GOLDEN OWLS BROTHERS INC,,1769,2ND AVE,,,NEW YORK,NY,10128,400,"1769 2ND AVE\nNEW YORK, NY 10128\n(40.781941, ..."
1,New York,731324,Store,JAC,100 PRESTIGE DELI CORP,100 PRESTIGE DELI,100,THAYER STREET,,,NEW YORK,NY,10040,1800,"100 THAYER STREET\nNEW YORK, NY 10040\n(40.864..."
2,New York,732331,Store,JAC,100 ST QUICK 24 HR DELI INC,100 ST QUICK 24HR DELI,219,W 100TH ST 3RD STORE,,,NEW YORK,NY,10025,0,"219 W 100TH ST\nNEW YORK, NY 10025\n(40.797317..."
3,New York,735096,Store,JAC,101 FINEST DELI INC,101 FINEST DELI,101,W 136TH ST,,,NEW YORK,NY,10030,0,"101 W 136TH ST\nNEW YORK, NY 10030\n(40.814809..."
4,New York,628886,Store,JAC,101 LENOX GOURMET DELI CORP,101 LENOX GOURMET DELI,101,LENOX AVE,,,NEW YORK,NY,10026,1500,"101 LENOX AVE\nNEW YORK, NY 10026\n(40.801467,..."

In [35]:
df_food['Location'][0]

'1769 2ND AVE\nNEW YORK, NY 10128\n(40.781941, -73.94878)'

## Nightlife

## Transportation

## Parks/Recreation/Greenspace/Trees